* {padding: 0; margin: 0;}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

section#timer {
    flex: 1;
    display: flex;
    align-items: center;
}

section#timer > p#time {
    font-size: 5rem;
    font-weight: bold;
}

section#controls {
    flex: 1;
}

button {
    padding: .75em;
}